.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    height: 25vh;
    z-index: 2;
    position: relative;
}

.header img {
    width: 250px;
}

.navegacion{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
}

.navegacion a{
    text-decoration: none;
    font-weight: 600;
    color: var(--azul);
    transition-property: background;
    transition-duration: 400ms;
    padding: 5px 2px;
    font-size: 1.3rem;
}

.navegacion a:hover{
    background-color: var(--claro);
}


.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.redes div{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--cafe);
}

.red{
    padding: 12px!important;
}

@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 4rem;
        height: 10vh ;
    }
    
    .navegacion{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.4rem;
        gap: 10px;
        text-align: center;
        text-transform: uppercase;
    }
    .navegacion a{
        text-decoration: none;
        font-weight: 600;
        color: var(--azul);
        transition-property: background;
        transition-duration: 400ms;
        padding: 8px 25px ;
    }
.redes div{
    width: 40px;
    height: 40px;
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background-color: var(--cafe);
}   
}